@use "base/variables" as v;
@use "base/mixins" as m;

.information {
  max-width: 42rem;
  padding: 8.5rem 3rem 10rem;
  margin: 0 auto;

  @include m.medium {
    padding: 8rem 0;
    max-width: 144rem;
  }

  &__heading {
    margin: 0 0 3rem;

    @include m.medium {
      margin-bottom: 3.5rem;
      padding: 0 10rem;
    }

    @include m.large {
      padding: 0 18rem;
    }

    @include m.extra-large {
      padding: 0 42rem;
    }
  }

  &__text {
    margin: 0 0 7rem;

    @include m.medium {
      padding: 0 10rem;
      margin: 0 0 8rem;
    }

    @include m.large {
      padding: 0 18rem;
    }

    @include m.extra-large {
      padding: 0 30rem;
    }

    @include m.max-large {
      padding: 0 37rem;
    }
  }
}
